In [9]:
import numpy as np
import pandas as pd
import os
import pandas as pd
from PIL import Image

In [7]:
def df_image_converter(main_folder_path):
    main_folder = main_folder_path  # Replace with the path to your main folder
    labels = []
    paths = []

    # iterating over each sub folder in the main 
    for sub_folder in os.listdir(main_folder):
        sub_folder_path = os.path.join(main_folder, sub_folder)

        # iterating over image in each sub folder
        for image_name in os.listdir(sub_folder_path):
            image_path = os.path.join(sub_folder_path, image_name)
            
            # image processecing with grayscaling and resizing
            img = Image.open(image_path)
            img = img.convert("L")
            img = img.resize((250, 250))

            # appending specific dinosaur species with label
            labels.append(sub_folder)
            paths.append(image_path)

    # dataframe with species and image path
    df = pd.DataFrame({'Dinosaur Species': labels, 'Paths':paths})
    return df

In [8]:
df = df_image_converter("dinopics")
df

    Dinosaur Species                         Paths
0       ankylosaurus   dinopics\ankylosaurus\1.png
1       ankylosaurus  dinopics\ankylosaurus\10.png
2       ankylosaurus  dinopics\ankylosaurus\11.png
3       ankylosaurus  dinopics\ankylosaurus\12.png
4       ankylosaurus  dinopics\ankylosaurus\13.png
..               ...                           ...
195      triceratops    dinopics\triceratops\5.png
196      triceratops    dinopics\triceratops\6.png
197      triceratops    dinopics\triceratops\7.png
198      triceratops    dinopics\triceratops\8.png
199      triceratops    dinopics\triceratops\9.png

[200 rows x 2 columns]